.repassword{
    nav{
        span{
            color: #fff;
            font-weight: 600;
        }
    }
    .password_info{
        padding: 0 8vw;
        margin-top: 30vw;
        .verify{
            margin: 8vw 0;
            height: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 3.6vw;
            .change{
                color: rgb(214, 36, 36);
                text-align: center;
                display: flex;
                align-items: center;
            }
        }
    }
}