.login{
    .topImg{
        position: relative;
        
        img{
            width: 100vw;
            display: block;
            margin-bottom: 14vw;
        }

        .top{
            position: absolute;
            top: 0;
            width: 84vw;
            height: 14vw;
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 0 8vw;
            div{
                width: 8vw;
                height: 8vw;
                border: 0.4vw solid #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 9vw;
            }
            a{
                border: 0.4vw solid #fff;
                color: #fff;
                text-align: center;
                border-radius: 6vw;
                padding: 1vw 4vw;
                font-size: 4vw;
            }
        }
        
    }

    .login_info{
        padding: 0 8vw;
        .rv-cell{
            padding-left: 0;
            padding-right: 0;
        }
        .verify{
            margin: 8vw 0;
            height: 6vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 3.6vw;
            .change{
                color: rgb(214, 36, 36);
                text-align: center;
                display: flex;
                align-items: center;
            }
        }
        .repassword{
            float: right;
            margin-top: 6vw;
            font-size: 4vw;
            text-decoration: underline;
        }
        ul{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10vw;
            li{
                width: 23%;
                border: 1px solid #aaa;
                img{
                    width: 100%;
                }
            }
            .north{
                transform: rotate(0);
            }
            .east{
                transform: rotate(90deg);
            }
            .south{
                transform: rotate(180deg);
            }
            .west{
                transform: rotate(270deg);
            }
        }
    }



}