.demo-lazyload {
    .rv-image {
      box-sizing: border-box;
      width: 100%;
      height: 250px;
      margin-bottom: 16px;
      padding: 16px;
      background-color: white;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 12px;
    }
  }