.demo-swiper {
    .rv-swiper {
      &__slide {
        .rv-swiper-item {
          height: 40vw;
          text-align: center;
          display: flex;
          justify-content: center;
        }
  
        &:nth-child(odd) {
          .rv-swiper-item {
            background-color: #3f45ff;
          }
        }
  
        &:nth-child(even) {
          .rv-swiper-item {
            background-color: lighten(#3f45ff, 8%);
          }
        }
      }
  
      img {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: #fff;
        pointer-events: none;
      }
    }
  }