.classify{
    width: 100vw;
    box-sizing: border-box;
    padding: 3vw 0 4vw;
    background: #fff;
    background-size: auto;
    background-size: 100% 100%;
    border-bottom: 1px solid #e0e0e0;
}
.classify ul{
    display: flex;
    justify-content: space-around;
    li{
        span{
            font-size: 3vw;
            text-align: center;
        }
        img{
            display: block;
            width: 10vw;
            margin: auto;
        }
    }
    
}


