nav{
    background-color: rgb(50, 50, 50);
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}
nav i{
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    transform-style: preserve-3d;
    animation: animate  10s infinite;
}

@keyframes animate
{
  0%
  {
    transform: perspective(1000px) rotateX(0deg);
  }
  50%
  {
    transform: perspective(1000px) rotateX(360deg);
  }
}