.topNav{
    display: flex;
    flex-wrap: nowrap;
    padding: 4vw;
    justify-content: space-between;
    background-color: #353535;
    color: #fff;
    font-weight: 600;
    font-size: 5vw;
}
.loginBox{
    overflow: hidden;
    width: 100%;
    height: 30vw;
    background: rgb(111,62,62);
    background: linear-gradient(90deg, rgba(111,62,62,1) 3%, rgba(119,63,63,1) 14%, rgba(130,75,75,1) 26%, rgba(116,60,60,1) 43%, rgba(93,49,61,1) 75%); 
    & .logButton{
        width: 28vw;
        font-size: 5vw;
        line-height: 10vw;
        text-align: center;
        margin: 10vw auto 0;
        border: 1vw solid #fff ;
        color: #fff;
    }
}
.defaultchannel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2vw;
    line-height: 10vw;
    background-color: #fff;
    font-size: 5vw;
    .bu{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}
.order{
    width: 100%;
    margin-bottom: 3vw;
    background-color: #fff;
    .ord{
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 4vw;
        padding: 3vw 0;
        text-align: center;
    }
    div{
        cursor: pointer;
    }
}

.active{
    cursor: pointer;
}
.discounts{
    width: 100%;
    background-color: #fff;
    .line{
        font-size: 5vw;
        line-height: 10vw;
        display: flex;
        justify-content: space-between;
        padding: 5vw;
    }
}
.showshop{
    width: 100%;
    background-color: #fff;
}
.wapbox{
    width: 35vw;
    height: 40vw;
    background-color: #353535;
    position: absolute;
    right: 5vw;
    top: 22vw;
    border-radius: 1vw;
    div{
        width: 100%;
        line-height: 10vw;
        padding-left: 4vw;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 5vw;
        span{
            margin: 0 2vw;
        }
    }
    
}
