.box{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.box footer{
    width: 100vw;
    height: 10vw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 3vw;
    background-color: #fff;
}