.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2vw 4vw;
    align-items: center;
    font-size: 6vw;
}
.wapbox{
    width: 35vw;
    height: 40vw;
    background-color: #fff;
    position: absolute;
    right: 5vw;
    top: 10vw;
    border-radius: 1vw;
    z-index: 10;
    box-shadow: .5vw .5vw 5vw #ccc;
    div{
        width: 100%;
        line-height: 10vw;
        padding-left: 4vw;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 5vw;
        span{
            margin: 0 2vw;
        }
    }
}
.active{
    cursor: pointer;
}
.sear{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #f5f5f9;
    border-radius: 20vw;
    font-size: 5vw;
    color: #ccc;
}
