.registe{
    padding: 6vw 8vw 0;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8vw;
        div{
            width: 5vw;
            height: 5vw;
            border: 0.4vw solid #000;
            border-radius: 50%;
            text-align: center;
            line-height: 6vw;
        }
        span{
            font-size: 5vw;
        }
    }
    .rv-cell{
        padding-left: 0;
        padding-right: 0;
    }
    .verify{
        margin: 8vw 0;
        height: 6vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3.6vw;
        .change{
            color: rgb(214, 36, 36);
            text-align: center;
            display: flex;
            align-items: center;
        }
    }

    .agree{
        margin: 2vw 0;
        font-size: 3.6vw;
    }
    .clause {
        width: 52vw;
        display: flex;
        justify-content: space-between;
        a{
            color: rgb(214, 36, 36);
            font-size: 3.4vw;
            text-decoration: underline;
        }
        

    }


}