.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2vw 4vw;
    align-items: center;
    font-size: 6vw;
}
.scroll{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2vw 4vw;
    align-items: center;
    background-color: #fffbe8;
    color: #ed6a0c;
    margin-bottom: 2vw;
}
.suibian{
    width: 40vw;
    position: absolute;
    left: calc(50% - 20vw);
    top: 50vw;
    p{
        text-align: center;
        line-height: 10vw;
        color: #969799;
    }
    div{    
        width: 20vw;
        background-color: #fff;
        text-align: center;
        line-height: 10vw;
        padding: 0 5vw;
        border: 1px solid black;
        margin-left: 5vw;
        cursor: pointer;
    }
}
.wapbox{
    width: 35vw;
    height: 40vw;
    background-color: #fff;
    position: absolute;
    right: 5vw;
    top: 22vw;
    border-radius: 1vw;
    z-index: 10;
    div{
        width: 100%;
        line-height: 10vw;
        padding-left: 4vw;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 5vw;
        span{
            margin: 0 2vw;
        }
    }
    
}
.active{
    cursor: pointer;
}